<div class="container footer"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutWrap
     fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div class="container" fxLayout="row"
         fxLayoutAlign="start baseline">
      <div fxFlex="50" fxFlexOffset="20px" fxFlexAlign="start">
        <h4>Enlaces</h4>
        <mat-list>
          <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/acercade">Acerca de</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/catalogo">Catalogo</a></mat-list-item>
          <mat-list-item><a mat-button routerLink="/contactanos">Contactanos</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="50">
        <h4>Nuestra ubicación</h4>
        <address style="text-size: 80%">
          <i class="fa fa-map-marker"></i>: Av. Villazon Km 10 <br> Sacaba, Cochabamba, Bolivia<br>
          <i class="fa fa-mobile"></i>: +581 76929321<br>
          <i class="fa fa-whatsapp"></i>: +581 60382038<br>
          <i class="fa fa-phone"></i>: +581 4664677<br>
          <i class="fa fa-fax"></i>: +581 4664677<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:rd-info@gmail.com">rd-info@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i
        class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i
        class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
</div>
