<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Contactanos</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <h3>Information de nuestra ubicación</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Nuestra dirección</h4>
        <address style="text-size: 80%">
          <i class="fa fa-map-marker"></i>: Av. Villazon Km 10 <br> Sacaba, Cochabamba, Bolivia<br>
          <i class="fa fa-mobile"></i>: +581 76929321<br>
          <i class="fa fa-whatsapp"></i>: +581 60382038<br>
          <i class="fa fa-phone"></i>: +581 4664677<br>
          <i class="fa fa-fax"></i>: +581 4664677<br>
          <i class="fa fa-envelope"></i>:
          <a href="mailto:rd-info@gmail.com">rd-info@gmail.com</a>

        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel: +581 4664677"><i class="fa fa-phone"></i> Call</a>
          <a mat-raised-button><i class="fa fa-skype"></i> Skype</a>
          <a mat-raised-button href="mailto: rd-info@gmail.com "><i class="fa fa-envelope-o"></i> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        <h4>Mapa de nustra Ubicación</h4>
      </div>
    </div>
  </div>

  <div fxFlex fxFlexOffset="20px" class="form-size">
    <h3>Envianos tu mensaje</h3>
    <p>{{ messageForm.value | json }} {{ messageForm.status | json }}</p>
    <form novalidate [formGroup]="messageForm" (ngSubmit)="onSubmit()" id="form">
      <p>
        <mat-form-field class="half-width"
                        color="{{(messageForm.get('firstname').hasError('required') && messageForm.get('firstname').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="firstname" placeholder="Nombre" type="text" required>
          <mat-hint>
                <span
                  [hidden]="!(messageForm.get('firstname').hasError('required') && messageForm.get('firstname').touched)">
                  Nombre es requerido</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="half-width"
                        color="{{(messageForm.get('lastname').hasError('required') && messageForm.get('lastname').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="lastname" placeholder="Apellido" type="text" required>
          <mat-hint>
                <span
                  [hidden]="!(messageForm.get('lastname').hasError('required') && messageForm.get('lastname').touched)">
                  Apellido es requerido</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width"
                        color="{{(messageForm.get('telnum').hasError('required') && messageForm.get('telnum').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="telnum" placeholder="Telefono" type="tel" required>
          <mat-hint>
                <span [hidden]="!(messageForm.get('telnum').hasError('required') && messageForm.get('telnum').touched)">
                  Telefono es requerido</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="half-width"
                        color="{{(messageForm.get('email').hasError('required') && messageForm.get('email').touched) ? 'warn' : 'primary'}}">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-hint>
                <span [hidden]="!(messageForm.get('email').hasError('required') && messageForm.get('email').touched)">
                  Email es requerido</span>
          </mat-hint>
        </mat-form-field>
      </p>
      <table class="form-size">
        <td class="half-width">
          <mat-slide-toggle formControlName="agree">Podemos contactarte?</mat-slide-toggle>
        </td>
        <td class="half-width">
          <mat-select formControlName="contacttype" placeholder="How?">
            <mat-option *ngFor="let ctype of contactType" [value]="ctype">
              {{ctype}}
            </mat-option>
          </mat-select>
        </td>
      </table>
      <p>
        <mat-form-field class="full-width">
          <textarea matInput formControlName="text" placeholder="Tu mensaje" rows=12></textarea>
        </mat-form-field>
      </p>
      <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="messageForm.invalid">
        Enviar
      </button>
    </form>
  </div>

</div>
